.app_container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.app_container .app_left {
  padding: var(--spacing-medium);
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: white;
  max-height: 130vh !important;
}
.app_container .app_left .parking_finder_card {
  border: none;
  border-radius: 4px;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  width: 100%;
  flex: 1;
}
.parkingFinderDetail {
  display: none;
}
.app_container .app_left .app_listings {
  width: 100%;
  margin-top: 20px;
}
.app_container .app_left .listing_filter_sort {
  display: flex;
  justify-content: space-between;
}
.app_container .app_left .listing_filter_sort select {
  padding: 5px 10px;
  border: 2px solid rgb(59, 62, 66);
  border-radius: 2px;
  font-size: 15px;
  color: rgb(59, 62, 66);
  outline: none;
  text-align: center;
}
.app_container .app_left .Listing_container {
  margin-top: 10px;
  overflow-y: scroll;
  height: 450px;
  background-color: white;
}
.app_container .app_left .Listing_container .listing {
  display: flex;
  gap: 10px;
  border: 1px solid;
  margin-top: 10px;
  padding: var(--spacing-medium);
}
.app_container .app_left .Listing_container .listing .listing_left {
  flex: 1;
  width: 120px;
  height: 120px;
  background-color: rgb(18, 94, 161);
}
.app_container .app_left .Listing_container .listing .listing_left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.app_container .app_left .Listing_container .listing .listing_right {
  flex: 2;
}
.app_container
  .app_left
  .Listing_container
  .listing
  .listing_right
  .listing_title
  h3 {
  font-size: var(--font-size-base);
  color: var(--secondary);
}
.app_container
  .app_left
  .Listing_container
  .listing
  .listing_right
  .listing_rating {
  display: flex;
  justify-content: space-between;
}
.app_container
  .app_left
  .Listing_container
  .listing
  .listing_right
  .listing_rating
  .total_booking {
  font-size: var(--font-size-small);
  color: var(--secondary);
}
.app_container
  .app_left
  .Listing_container
  .listing
  .listing_right
  .listing_detail {
  display: flex;
  justify-content: space-between;
}
.app_container
  .app_left
  .Listing_container
  .listing
  .listing_right
  .listing_detail
  a {
  border-bottom: 1px solid var(--secondary);
}

.app_container
  .app_left
  .Listing_container
  .listing
  .listing_right
  .listing_btn
  button {
  background-color: var(--secondary);
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--secondary);
  margin-top: 5px;
}
.app_container
  .app_left
  .Listing_container
  .listing
  .listing_right
  .listing_btn
  button
  a {
  color: var(--text-white) !important;
}
.app_container .app_left .toggle_btn {
  display: none;
}
.app_container .listing_detail_container {
  position: absolute;
  right: -460px;
  top: 0px;
  background-color: white;
  padding: var(--spacing-medium);
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}
.listing_detail_container .back_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: var(--font-size-large);
  display: flex;
  background-color: var(--secondary);
  color: var(--text-white);
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: 1px solid;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}
.listing_detail_container .back_btn span {
  margin-bottom: 4px;
}
.listing_detail_container .listing_detail_image_box {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.listing_detail_container img {
  max-width: 450px;
  height: 250px;
  object-fit: cover;
}
.listing_detail_container .listing_detail_section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.listing_detail_container .listing_detail_section .listing_detail_title {
  font-size: var(--font-size-large);
}
.listing_detail_container .listing_detail_section .badge_shortdesc {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.listing_detail_container .listing_detail_section .badge_shortdesc .badge {
  background-color: var(--primary);
  color: var(--text-white);
  padding: 5px 10px;
  border-radius: 4px;
}
.listing_detail_container
  .listing_detail_section
  .badge_shortdesc
  .short_description {
  font-size: var(--font-size-small);
  color: var(--text);
  line-height: 1.6;
}
.listing_detail_container .listing_detail_section .listing_rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listing_detail_container
  .listing_detail_section
  .listing_rating
  .total_booking {
  font-size: var(--font-size-small);
  color: var(--secondary);
}

.listing_detail_container .listing_booking_details {
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: space-evenly;
  padding: var(--spacing-medium);
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.listing_detail_container .listing_booking_details > div {
  width: 33%;
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-base);
  font-weight: 600;
}
.listing_detail_container .listing_booking_details > div:not(:last-child) {
  border-right: 2px solid var(--secondary);
}
.listing_detail_container
  .listing_booking_details
  > div
  > span:not(:first-child) {
  font-size: var(--font-size-small);
  font-weight: 400;
  color: var(--text);
}
.listing_detail_container .listing_detail_features {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.listing_detail_container .listing_detail_features .feature {
  background-color: var(--secondary);
  color: var(--text-white);
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}
.listing_detail_container .listing_detail_description h3 {
  color: var(--secondary);
}
.listing_detail_container .listing_detail_description .description {
  font-size: var(--font-size-small);
  color: var(--text);
}

.listing_detail_container .listing_detail_btn {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.listing_detail_container .listing_detail_btn button {
  background-color: var(--secondary);
  border-radius: 4px;
  width: 50%;
}
.app_right {
  background-color: rgb(132, 94, 46);
  width: 100%;
  height: 120vh;
}
.app_right .listing {
  display: none;
}
.listing_detail_container_hide {
  display: none;
}
@media (max-width: 890px) {
  .app_container .app_left {
    width: 100%;
  }
  .listing_detail_container {
    right: -410px;
    padding: var(--spacing-small);
    max-width: 400px;
  }

  .listing_detail_container .listing_detail_section {
    gap: 5px;
  }
  .listing_detail_container .listing_detail_section .listing_detail_title {
    font-size: 20px;
  }
  .listing_detail_container .listing_detail_section .badge_shortdesc {
    gap: 5px;
  }
  .listing_detail_container .listing_detail_section .badge_shortdesc .badge {
    padding: 3px 5px;
  }

  .listing_detail_container .listing_booking_details > div {
    font-size: var(--font-size-small);
    font-weight: 600;
  }

  .listing_detail_container
    .listing_booking_details
    > div
    > span:not(:first-child) {
    font-size: var(--font-size-small);
  }
}
@media (max-width: 840px) {
  .app_container {
    display: flex;
    flex-direction: column;
  }
  .app_container .app_left {
    width: 100vw;
    background-color: white;
    max-height: 130vh;
  }

  .app_left .parking_finder_card {
    width: 100vw !important;
  }
  .app_left .parking_finder_card form {
    height: 100%;
  }
  .listing_filter_sort #filter {
    display: none;
  }
  .app_container .app_left .toggle_btn {
    display: block;
    background-color: white;
    color: var(--secondary);
    font-weight: 600;
    border-radius: 4px;
    border: 2px solid var(--secondary);
    padding: 4px 15px;
  }
  .parkingFinderDetail {
    background-color: rgba(39, 93, 173, 0.2);
    color: var(--text);
    font-weight: 500;
    width: 100%;
    padding: var(--spacing-medium);
    cursor: pointer;
    border-radius: 2px;
  }
  .parkingFinderDetail .datetime {
    display: flex;
    justify-content: space-between;
  }
  .app_right {
    background-color: aqua;
  }
  .Listing_container_hide {
    display: none;
  }
  .app_right_hide {
    display: none;
  }
  .ParkingFinderCard_hide {
    display: none !important;
  }
  .ParkingFinderCard {
    height: 290px;
    width: 100%;
    display: block;
  }

  .parkingFinderDetail {
    display: block;
  }
  .parkingFinderDetail_hide {
    display: none;
  }

  .app_container .app_right .listing {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transform: translateX(50);
    gap: 10px;
    border: 1px solid;
    margin-top: 10px;
    background-color: white;
    width: 95%;
    padding: var(--spacing-medium);
    border: none;
    border-radius: 4px;
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  }
  .app_container .app_right .listing .listing_left {
    flex: 1;
    width: 120px;
    height: 120px;
    background-color: rgb(18, 94, 161);
  }
  .app_container .app_right .listing .listing_left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .app_container .app_right .listing .listing_right {
    flex: 2;
  }
  .app_container .app_right .listing .listing_right .listing_title h3 {
    font-size: var(--font-size-base);
    color: var(--secondary);
  }
  .app_container .app_right .listing .listing_right .listing_rating {
    display: flex;
    justify-content: space-between;
  }
  .app_container
    .app_right
    .listing
    .listing_right
    .listing_rating
    .total_booking {
    font-size: var(--font-size-small);
    color: var(--secondary);
  }
  .app_container .app_right .listing .listing_right .listing_detail {
    display: flex;
    justify-content: space-between;
  }
  .app_container .app_right .listing .listing_right .listing_detail a {
    border-bottom: 1px solid var(--secondary);
  }

  .app_container .app_right .listing .listing_right .listing_btn button {
    background-color: var(--secondary);
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--secondary);
    margin-top: 5px;
  }
  .app_container .app_right .listing .listing_right .listing_btn button a {
    color: var(--text-white) !important;
  }
  .app_container .listing_detail_container {
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 100vw;
  }
}
